@charset "UTF-8";

h2{
  text-align: center;
}
h3{
  color: white;
}
.categ{
  padding-bottom: 30px;
}
#fh5co-home .flexslider .fh5co-text h1{
  color: black;
}
#fh5co-about .fh5co-text{
  background-color: #173109 ;
}
.js-fh5co-nav-toggle {
display: none;
}
#titulo{
  text-align: center;
  font-style: italic;
  width: 100%;
}
.linkVoltar{
  margin-bottom: 0px;
  padding-top: 50px;
  text-align: center;
}
#titulo h1{
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 700;
  font-style: italic;
  color: black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 992px){
#titulo h1{
  font-size: 100px;
}
}
@media screen and (max-width: 768px) {
  #titulo h1{
    font-size: 45px;
  }
}

  
